html {

}

body {
    color: white;
    background-color: #000000; 
}

input[type=submit] {
	color: white;
	border: 2px solid white;
	background-color: black;
	padding: 2px;
	font-size: 16px;
}

input[type=submit]:hover {
	color: black;
	border: 2px solid darkgrey;
	background-color: white;
}

#border {
    background-image: url("../assets/border4.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 5%;
    margin: 0 auto;
}

.wrp {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
}

.sessionLogutWindow {
	display: flex;
	justify-content: space-between;
    margin: 0 auto;
    text-align: left;
	padding: 6px;
	width: 890px;
	font-size:22px
}

.userNameContaienr{

	text-align: left;
}

.logoutButton {

	float: right;
}


#gameWindow {
    display: block;
}

#timer {
    margin: 0 auto;
    text-align: center
}