html {

}

body {
    color: white;
    background-color: #000000; 
}

#border {
    background-image: url("../assets/border4.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 5%;
    margin: 0 auto;
}

.wrp {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}

#gameWindow {
    display: block;
}

#timer {
    margin: 0 auto;
    text-align: center
}